footer .footer-info {
  background-color: var(--secondary-color);
  padding: 40px;
}
footer .footer-info h3{
  padding-top:20px;
}
footer .footer-info .social ul li a {
  color: inherit;
  text-decoration: none;
}
footer .footer-info .social ul li i{
  border: 1px solid white;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  display: block;
  padding: 10px;
  margin: 0px 4px;


}
 footer .copyright{
  background-color: #1a252f;
  color:#F0F8FF;
  padding: 10px;
}
footer .copyright p{
  padding-top: 10px;
}
