.contact {
  color: var(--secondary-color);
  min-height: calc(-106px + 100vh);
  margin-top: 86px;
}

.contact form {
  width: 62%;
}


.contact form label {
  color: var(--main-color);
  top: 40px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
.contact form .form-control:focus {
  box-shadow: none;
}
.contact form .btn {
  background-color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .contact form {
    width: 100%;
  }
}
